<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Expense Management</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="nav flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="app/home" Match="NavLinkMatch.All">
				<i class="bi bi-house em-icons"></i> Home
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="app/deposits">
				<i class="bi bi-wallet2 em-icons"></i> Deposit
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="app/expense-categories">
				<i class="bi bi-tag em-icons"></i> Expense Category
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="app/expenses">
				<i class="bi bi-cash-coin em-icons"></i> Expense
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
