@page "/app/home"

<PageTitle>Home</PageTitle>

<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-12 col-md-6">
				<h1 class="fw-bold">Expense Management System</h1>
				<p class="text-muted">A true tracking of daily financial activities</p>
			</div>
			<div class="col-12 col-md-6">
				<div class="hero-button-gap">
					<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#invoiceModal">
						<i class="bi bi-search"></i> Open Seach
					</button>
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#depositModal">
						<i class="bi bi-arrow-up-square"></i> Deposit
					</button>
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#expenseModal">
						<i class="bi bi-arrow-down-square"></i> Expense
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row my-5">
	<div class="col-12 col-md-4">
		<div class="card shadow-sm border-0 text-center p-3">
			<h6 class="text-muted">Deposit</h6>
			<h3 class="text-info fw-bold">@(TotalAmount)</h3>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="card shadow-sm border-0 text-center p-3">
			<h6 class="text-muted">Expense</h6>
			<h3 class="text-warning fw-bold">@(TotalAmountDeposit)</h3>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="card shadow-sm border-0 text-center p-3">
			<h6 class="text-muted">Balance</h6>
			<h3 class="text-success fw-bold">@(CurrentBalance)</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-12">
		<div class="my-2 text-center">
			<h4>Expenses at a glance</h4>
			<p class="text-muted">Last ten activities</p>
		</div>

		<table class="table table-bordered table-striped">
			<thead class="bg-primary text-white">
				<tr>
					<th>#</th>
					<th>Date</th>
					<th>Category</th>
					<th>Remarks</th>
					<th>Payment</th>
					<th class="text-end">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Date</td>
					<td>Category</td>
					<td>Remarks</td>
					<td>BKASH</td>
					<td class="text-end">111.000</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-end">Total</td>
					<td class="text-end">111.000</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<!-- Invoice Modal -->
<div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="invoiceModalLabel">Search Invoice</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Search</button>
			</div>
		</div>
	</div>
</div>

<!-- Deposit Modal -->
<div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="depositModalLabel">New Deposit</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body row">

				<div class="col-md-4 mb-3">
					<label class="form-label fw-semibold">Deposit Date</label>
					<InputDate @bind-Value="DepositDto.DepositDate" class="form-control" />
				</div>

				<div class="col-md-4 mb-3">
					<label class="form-label fw-semibold">Deposit Amount</label>
					<InputNumber @bind-Value="DepositDto.DepositAmount"
								 class="form-control"
								 placeholder="Enter deposit amount" />
				</div>

				<div class="col-md-12 mb-3">
					<label class="form-label fw-semibold">Remarks</label>
					<InputTextArea @bind-Value="DepositDto.Remarks"
								   class="form-control"
								   rows="3"
								   placeholder="Write remarks..." />
				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" @onclick="OnFomSubmitClickAsync">Save</button>
			</div>


		</div>
	</div>
</div>

<!-- Expense Modal -->
<div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="expenseModalLabel">New Expense</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>



@code {

	[Parameter]
	public long ExpenseId { get; set; }
	private bool IsLoading { get; set; } = false;

	private decimal TotalAmount { get; set; } = 0;
	private decimal TotalAmountDeposit { get; set; } = 0;
	private decimal CurrentBalance { get; set; } = 0;

	private DepositDto DepositDto { get; set; } = new();
	//private DepositViewModel DepositViewModel { get; set; } = new();
	private List<DepositViewModel> DepositViewModel { get; set; } = [];
	private List<ExpenseCategoriesViewModel> ExpenseCategoriesViewModel { get; set; } = [];
	private List<ExpensesViewModel> ExpensesViewModel { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		IsLoading = true;
		
		await LoadSingleDepositAsync();
		await LoadExpensesAsync();

		IsLoading = false;
	}

	private async Task LoadSingleDepositAsync()
	{
		DepositViewModel = await DepositApiService.AddDepositAsync(DepositDto);

		DepositDto = new DepositDto
		{
			DepositDate = DepositViewModel.DepositDate,
			DepositAmount = DepositViewModel.DepositAmount,
			Remarks = DepositViewModel.Remarks
		};
	}


	private async Task LoadExpensesAsync()
	{
		ExpenseCategoriesViewModel = await ExpenseCategoryApiService.GetExpenseCategoriesAsync();
		ExpensesViewModel = await ExpenseApiService.GetExpensesAsync();




		TotalAmount = ExpensesViewModel
			.Where(x => !x.InActive)
			.Sum(s => s.ExpenseAmount);

		DepositViewModel = await DepositApiService.GetDepositAsync();
		TotalAmountDeposit = DepositViewModel
			.Where(x => !x.InActive)
			.Sum(s => s.DepositAmount);

		CurrentBalance = TotalAmountDeposit - TotalAmount;
	}

	private void OnInvoiceClick()
	{
		NavigationManager.NavigateTo($"/app/invoice");
	}

	


}